.page__benefits {
}
.benefits {
}
.benefits__container {
	display: grid;
	grid-template-rows: repeat(2, auto);
	row-gap: 72px;
}
.benefits__title {
	text-align: center;
}
.benefits__wrapper {
	max-width: 1180px;
	margin: 0 auto;
}
.benefits__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

	gap: 68px;
}
.benefits__item {
	display: grid;
	grid-template-rows: repeat(2, auto);
	justify-items: center;
	text-align: center;

	row-gap: 24px;
}
.benefits__content {
	order: 2;

	display: flex;
	flex-direction: column;

	row-gap: 24px;
}
.content-benefits {
}
.content-benefits__title {
	font-weight: 700;
}

.content-benefits__text {
	color: rgba(126, 127, 124, 1);
	font-weight: 400;
}
.benefits__image {
	order: 1;
}

@media (max-width: 767.98px) {
	.benefits__list {
		gap: 50px;
	}
}
@media (max-width: 424.98px) {
	.benefits__container {
		row-gap: 50px;
	}
	.benefits__list {
		gap: 30px;
	}
	.benefits__item {
		row-gap: 20px;
	}
	.benefits__content {
		row-gap: 10px;
	}
}
