.page__trusted {
	margin-bottom: 164px;
}
.trusted {
}
.trusted__container {
	display: grid;
	grid-template-rows: auto auto;

	row-gap: 72px;
}
.trusted__title {
	text-align: center;
}

.trusted__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));

	gap: 30px;

	justify-items: center;
}
.trusted__item {
}
.trusted__image img {
	max-width: 100%;
}

@media (max-width: 767.98px) {
	.page__trusted {
		margin-bottom: 100px;
	}
}
