.header {
	position: relative;
	z-index: 50;
}
.header__container {
	display: flex;
	align-items: center;

	min-height: 164px;
	column-gap: 80px;
}

.header__logo {
	flex: 0 0 auto;
}
.header__menu {
	display: flex;
	flex: 1 1 auto;
	align-items: center;

	column-gap: 80px;
}
@media (max-width: 1210px) {
	.header__container {
		column-gap: 40px;
	}
	.header__menu {
		column-gap: 30px;
	}
	.header__logo {
		flex: 0 1 auto;
	}
}
@media (max-width: 1024px) {
	.header__menu {
		justify-content: flex-end;
	}
	.header__container {
		min-height: 110px;
	}
}
@media (max-width: 767.98px) {
	.header__menu {
		display: none;
	}
	.header__container {
		justify-content: space-between;
		column-gap: 15px;
	}
	.header__container {
		min-height: 90px;
	}
}
@media (max-width: 424.98px) {
	.header__logo {
		display: flex;
		max-width: 150px;
	}
}
/*============================================================================*/

.menu {
}
.menu__body {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 44px;
}
@media (max-width: 1210px) {
	.menu__list {
		column-gap: 20px;
	}
}

.menu__item {
	display: flex;
	align-items: center;
	position: relative;
	column-gap: 2px;
}

.menu__item span {
	display: inline-block;
	position: relative;
	min-width: 20px;
	min-height: 20px;
}
.menu__item span::before,
.menu__item span::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 50%;
	height: 2px;
	background-color: rgba(47, 48, 44, 1);
	border-radius: 20%;
	transition: rotate 0.3s ease-in-out;
}
.menu__item span::before {
	right: 10%;
	rotate: -50deg;
}
.menu__item span::after {
	left: 10%;
	rotate: 50deg;
}

.menu__item:hover span::after {
	rotate: -50deg;
}
.menu__item:hover span::before {
	rotate: 50deg;
}
.menu__item:hover .menu__drop {
	visibility: visible;
	opacity: 1;
}
.menu__link {
}
@media (max-width: 1024px) {
	.menu__body {
		display: none;
	}
}
/*============================================================================*/

.menu__drop {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	visibility: hidden;
	opacity: 0;
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	background: url('../img/mom.jpg') 50% / cover no-repeat;
	color: #fff;
	padding: 25px;

	transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.drop-menu {
}
.drop-menu__item {
}
.drop-menu__link {
	font-size: 22px;
}
/*============================================================================*/
.menu__search-buttom {
	background-color: transparent;
	flex: 0 0 auto;
	cursor: pointer;

	transition: scale 0.3s ease-in-out;
}
@media (any-hover: hover) {
	.menu__search-buttom:hover {
		scale: 1.2;
	}
}
.menu__form {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

	position: relative;
}
.menu__form--warning {
	position: absolute;
	top: 100%;
	right: -184%;
	height: auto;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.menu__form:hover .menu__form--warning {
	opacity: 1;
	visibility: visible;
}
.menu__form:not(:hover) .menu__form--warning {
	opacity: 0;
	visibility: hidden;
	transition: opacity 5s, visibility 5s;
}
.menu__form::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #7e7f7c;
	transform: scaleX(1);
	transform-origin: left;
}
.menu__input {
	padding: 12px 0 12px 12px;
	border: 0;
	display: inline-block;
}

.menu__input::placeholder {
	font-size: 16px;
	line-height: 125%; /* 20/16 */
	color: rgba(126, 127, 124, 1);
}
.menu__input:focus-visible {
	outline: none;
}
.menu__input:focus-visible + .menu__search-buttom {
	scale: 1.2;
}

/*============================================================================*/
.header__action {
	display: flex;
	column-gap: 44px;
}
@media (max-width: 767.98px) {
	.header__action {
		flex: 1 1 auto;
		column-gap: 20px;
		justify-content: flex-end;
	}
}
@media (max-width: 424.98px) {
	.header__action {
		display: none;
	}
}
.action-header {
}
.action-header__link {
	font-size: 16px;
	font-weight: 700;
	line-height: 125%; /* 20/16 */

	display: flex;
	column-gap: 5px;
}
.action-header__link span {
	transition: scale 0.3s ease-in-out;
	flex: 0 0 auto;
}
@media (any-hover: hover) {
	.action-header__link:hover span {
		scale: 1.2;
	}
}
.link-action-header--selected {
}
.link-action-header--cart {
}
/*============================================================================*/

.header__icon {
	display: none;
}
.icon-menu {
}
@media (max-width: 1024px) {
	.header__icon {
		display: block;
		width: 30px;
		height: 20px;
		position: relative;
		background-color: transparent;
	}
	.header__icon::before,
	.header__icon span,
	.header__icon::after {
		content: '';
		position: absolute;

		left: 0;
		width: 100%;
		height: 2px;
		background-color: #000;
	}
	.header__icon::before {
		top: 0;
	}
	.header__icon span {
		top: 50%;
		transform: translateY(-1px);
	}
	.header__icon::after {
		bottom: 0;
	}
}
