/*==============reset seting==============*/
@import url(reset.css);
/*==============reset seting==============*/
@import url(fonts.css);
/*========================================*/
body {
	background-color: #fff;
	color: #161616;
	font-family: 'Lato', sans-serif;
}
/*========================================*/
[class*='__container'] {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/*========================================*/

.hero-title {
	font-size: 32px;
	font-weight: 800;
	text-align: center;
}

.hero__wrapper {
	padding: 60px 0;
}

/*========================================*/
.hero__items {
	font-size: 0;
	margin: -34px;

	overflow-x: auto;
}
/*========================================*/
.hero__item {
	max-width: 33.333%;
	min-width: 266px;

	display: inline-block;
	text-align: justify;
	vertical-align: top;
	text-align: center;

	font-size: 16px;

	padding: 34px;
}
.hero__item img {
	display: inline-block;
	width: 100%;
	max-width: 40px;
	margin-bottom: 30px;
}
/*========================================*/

.hero__content {
}
.hero__title {
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(47, 48, 44, 1);
	margin-bottom: 24px;
}
.hero__text {
	font-weight: 400;
	color: rgba(126, 127, 124, 1);
	white-space: wrap;
}
/*========================================*/
