/*==============reset seting==============*/
@import url(reset.css);
/*==============reset seting==============*/
@import url(fonts.css);
/*========================================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/*========================================*/
body {
	background-color: #fff;
	color: #161616;
	font-family: 'Lato', sans-serif;
}
/*========================================*/
[class*='__container'] {
	max-width: 1360px;
	margin: 0 auto;
	padding: 0 15px;
}

/*========================================*/

.header__logo {
}
.logo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: 200px 42px;
	min-height: 42px;
	margin: 10px 0;
	height: 42px;
}
/*========================================*/

/*========================================*/
.page__hero {
}
.hero {
	background: url('../img/bgimage.png') 0 50% / cover no-repeat;
}
.hero__wrapper {
}
.hero__body {
}
.hero__contents {
	max-width: 600px;
	margin-left: 744px;
	padding: 110px 0;
}
.hero__label {
	font-size: 20px;
	font-weight: 700;
	color: rgba(47, 48, 44, 1);
	margin-bottom: 20px;
}
.hero__title {
	font-size: 96px;
	font-weight: 800;
	color: #2f302c;
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 16px;

	border-bottom: 2px solid rgba(47, 48, 44, 0.7);
}

/*========================================*/
.hero__content {
}
.content-hero {
	max-width: 462px;
}

.content-hero__title {
	font-size: 20px;
	font-weight: 700;
	color: rgba(47, 48, 44, 1);
	margin-bottom: 19px;
	margin-top: 36px;
}
/*========================================*/
.content-hero__text {
	color: rgba(126, 127, 124, 1);
	font-weight: 400;
}
/*========================================*/
.page__pricol {
}
.pricol {
	padding: 30px;
}

.pricol__list {
	font-size: 0;
	margin: 0 auto;
}

/*========================================*/
.items-pricol {
	width: 33.333%;
	display: inline-block;

	/* padding: 20px 30px; */
}
/*========================================*/
.pricol__item {
	font-size: 18px;
	margin-bottom: 19px;
	text-transform: uppercase;

	background: url('../img/check.png') left 0 / 32px no-repeat;
	min-height: 32px;

	padding-left: 42px;

	line-height: 24px;
}
.items-pricol--gradient {
}
